<h1>test answer</h1>
<p><%= @answer %></p>
<%# if message = 'I am going to work' ansnwer = Great!' %>
<%# if message includes '?' answer = 'Silly question, get dressed and go to work!' %>
<%# else answer = 'I don't care, get dressed and go to work!' %>


<%= link_to 'Ask a new question', ask_path %>
